@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

#active {
    background-color: #8e795f;
    color: black;
    border-radius: 50px;
    padding: 5px 15px;
    transition: 0.3s;
}

.front {
    background: url('https://newsatcl-pctr.c.yimg.jp/t/iwiz-yn/rpr/yamazakitomoyuki/00095423/top_image.jpeg?pri=l&w=800&h=450&order=c2r&cx=0&cy=0&cw=1920&ch=1080&exp=10800&fmt=webp'), rgb(14, 14, 14);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 250px;
    height: 100vh;
}

.logo img {
    width: 150px;
    margin: 15px 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.navbar ul li {
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin: 20px 12px;
}

.navbar ul li a {
    text-decoration: none;
    color: #8e795f;
    position: relative;
    font-size: 18px;
}

.navbar ul li a::after {
    content: '';
    background-color: burlywood;
    height: 3px;
    width: 0;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.3s;
}

.navbar ul li a:hover:after {
    width: 100%;
}

.navbar ul li a#active:hover:after {
    width: 0;
}


main {
    position: relative;
    top: 10vh;
    margin: 25px;
    width: 50%;
}

main p {
    color: #fcfcfc;
    font-size: 15px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

main h1 {
    margin: 3px 0px;
    margin-bottom: 25px;
    color: #8e795f;
    font-size: 92px;
    position: relative;
}

main h1::after {
    content: '';
    height: 5px;
    width: 275px;
    background-color: #001f3d;
    position: absolute;
    bottom: -2px;
    left: 0;
}

button {
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #001f3d;
    color: #fcfcfc;
    background-color: #001f3d;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
}

button:hover {
    background-color: #fcfcfc;
    color: #001f3d;
}

#About {
    height: 100vh;
    background-color: #01101f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Acme';


}

.image {
    border: 10px #5F6F94 solid;
    padding: 20px;
    position: relative;
    left: 0;
}

.image img {
    width: 30vw;
}

.abhead {
    position: absolute;
    bottom: -80px;
    font-size: 32px;
    color: #8e795f;
}

.abhead h3 {
    font-weight: bold;
    font-family: 'Rampart One', cursive;


}

.aboutInfo {
    width: 40%;
    margin-left: 50px;
}

.aboutInfo h2 {
    position: relative;
    bottom: 40px;
    color: rgba(255, 255, 255, 0.904);
    font-size: 32px;
}

.aboutInfo p {
    position: relative;
    bottom: 10px;
    font-size: 24px;
    font-family: a;
    color: rgba(255, 255, 255, 0.904);
}

footer {
    height: 25vh;
    background-color: rgb(14, 14, 14);
    padding: 15px;
}

.foot {
    display: flex;
    justify-content: center;

}


/* -----------------------REVIEW------------------------- */
#review main {
    height: 73.8vh;
}

#review main h1 {
    font-size: 60px;
    

}

.testimonial {
    background-color: #01101f;
    color: #8e795f;
    height: 100vh;
}

.testHead h3 {
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Rampart One', cursive;


}

.testImages h3 {
    font-size: 40px;
    
}

.testImages {
    display: grid;
    margin-top: 50px;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-items: stretch;
}

.testImages p {
    font-size: 12px;
    width: 250px;
    color: white;
    margin: auto;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;

}

.testImages img {
    width: 300px;
}

.testImages img:hover {
    opacity: 0.5;
}

/* ------------------------GUITAR STORE--------------------- */
.GuitarWin main {
    height: 73.8vh;
}

.testHead h3 {
    position: relative;
    bottom: 15px;
}

#guitarBuy {
    height: 100vh;
    background-color: #01101f;
}

.guitarsell {
    display: grid;
    margin-top: 50px;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-items: stretch;
    margin: auto;
    border: 2px solid white;
    height: 75vh;
    width: 85vw;
    padding: 50px;
}

.guitarsell img {
    width: 250px;
}

.guitarsell img:hover {
    opacity: 0.7;
    filter: blur(1px);
}

.guitar-bass {
    position: relative;
    left: 350px;
    bottom: 270px;
}

.guitarsell button {
    border-radius: 50px;
    position: relative;
    bottom: 150px;
}

.guitar-acoustic button,
.guitar-bass button {
    bottom: 140px;
}

.guitarsell h3 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #fcfcfc;
    position: relative;
    bottom: 38px;
}

/* -------------------------CONTACT US------------------------------ */
#contact-us main {
    height: 73.8vh;
}
.Contact-div{
    display: flex;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}
#contact-form h3{
    color: #fcfcfc;
}
#contact-form {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('/images/Guitar-Review/Review-3.jpg');
    background-position: center;
    background-size: cover;
    
}

.form-fill {
    margin: 10px 100px
}

input {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 500px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #001f3d;
}

input[type="text"] {
    margin-bottom: 20px;
}

input[type="email"] {
    margin-top: 10px;
    
}

input[type="number"] {
    margin-bottom: 20px;
    margin-top: 10px;

}

input[type="submit"] {
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #001f3d;
    color: #fcfcfc;
    background-color: #001f3d;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 10px;
}

input[type="submit"]:hover {

    background-color: #fcfcfc;
    color: #001f3d;
}

textarea {
    display: block;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 500px;
}
.contact-fill{
    color: #fcfcfc;
    margin-left: 20 0px;
    line-height: 5px;
}
.contact-fill h2{
    line-height: 50px;
}
.conPhone{
    margin: 50px 0px;
}
.conEmail{
    margin: 50px 0px;

}
.conLocate{
    line-height: 20px;
    
}
